<nav class="navbar navbar-expand-md navbar-light">

    <a href="{{ route('bioHome') }}">
        <p id="logo-text" class="logo-text navbar-text mr-auto">
            BIOENERGOTERAPIA </br>
            <span id="logo-text-name">
                Patrycja Dolata
            </span>
        </p>
    </a>

    <div class="collapse navbar-collapse" id="collapse_target">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Rezerwacja</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
                <a id="facebook" class="nav-link" href="https://www.facebook.com/Bioenergoterapia-Patrycja-Dolata-107696647457410/" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
        </ul>
    </div>

    <button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#collapse_target">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>